.item-enter{
    transition: 0.5s;
    transform: translateX(-120%);
    max-height: 0 !important;
    padding: 0 !important;
}

.item-enter-active{
    transform: translateX(0);
    max-height: 60px;
    padding: 2rem 0 !important;
}

.item-exit{
    transition: 0.5s;
    transform: translateX(0);
}

.item-exit-active{
    transform: translateX(120%);
    padding: 0 !important;
}

.count-enter{
    transition: .5s;
    transform: translateY(100%);
}

.count-enter-active{
    transform: translateY(0);
}

.count-exit{
    transition: .3s;
    transform: translateY(0);
    position: absolute !important;
    left: 0;
    bottom: 0;
}

.count-exit-active{
    transform: translateY(-100%);
}

.count{
    position: relative;
}

.count span{
    margin-left: 5px;
}